div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 19rem;
    margin-top: 4rem;
    z-index: 1;
}
