@using WebBuilder2.Client.Shared
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <Navbar></Navbar>
    <main>
        @Body
    </main>
</div>
