<div class="ghr-widget-container">
    <GithubRepoTable Repositories="@_githubRepositories" ShowConnectButton="false" ShowDeleteButton="false" IsLoading="@_isTableLoading" ValueChanged="@OnRepoTableValueChanged" />
</div>
