@page "/sites"

<div class="sites-container">
    <MudPaper class="toolbar">test</MudPaper>
    <div class="btn-row">
        <MudButton class="create-site-btn" Variant="Variant.Filled" OnClick="@OnCreateSiteBtnClicked">Create Site</MudButton>
    </div>
    @foreach(Site site in siteList)
    {
        <MudCard Class="site-card">
            <MudImage Src="resources/duck.jpg" />
            <div class="card-details">
                <label class="card-site-name">Site Name: @site.Name</label>
                <MudButton class="card-delete-site-btn" Variant="Variant.Filled" OnClick="@(() => OnDeleteSiteBtnClicked(site))">Delete Site</MudButton>
            </div>
        </MudCard>
    }
</div>