.tb-container {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 100%;
    height: 3rem;
    align-items: center;
    background: white;
    box-shadow: #818181 0px -1px 6px 0px;
    z-index: 3;
}
