.log-row {
    text-overflow: ellipsis;
    white-space: break-spaces;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: scroll;
    /* text-wrap: nowrap; */
    width: 0;
    display: flex;
    min-width: 100%;
}

::deep .mud-table-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}