@page "/sites"

<div class="sites-container">
    <MudPaper class="toolbar">test</MudPaper>
    <div class="btn-row">
        <MudButton class="create-site-btn" Variant="Variant.Filled" OnClick="@OnCreateSiteBtnClicked">Create Site</MudButton>
        <MudButton class="add-existing-site-btn" Variant="Variant.Filled" OnClick="@OnAddExistingSiteBtnClicked">Add Existing Site</MudButton>
    </div>
    <SiteTable Sites="@_siteList" ValuedChanged="@OnSiteTableValueChanged" />
</div>