.sites-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

::deep .create-site-btn, ::deep .card-delete-site-btn {
    width: fit-content;
}

::deep .toolbar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
}

.sites-domain-container {
    display: flex;
    flex-direction: column;
}