
<MudDialog>
    <DialogContent>
        <ErrorContainer Errors="@_errors" />
        <div>
            <CodeEditor Value="@Script.Data" FileChanged="@OnFileChanged" />
        </div>
        <MudButton Variant="Variant.Filled" OnClick="@OnSaveBtnClick">Save</MudButton>
    </DialogContent>
</MudDialog>