<div>
    <MudCard>
        <MudButton Variant="@Variant.Filled" OnClick="@OnGithubConnectionBtnClick"><MudIcon Size="@Size.Large" Icon="@Icons.Custom.Brands.GitHub" /></MudButton>
    </MudCard>
</div>
