.card-details {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 80%;
    width: 100%;
    margin: 1rem;
}

::deep .site-card {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

    ::deep .site-card:hover {
        cursor: pointer;
    }


::deep .card-delete-site-btn {
}

::deep .card-site-name {
}